{% extends 'base.html' %}
{% load static %}

{% block title %} Settings Shift {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shift</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card" id="shiftItems">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="mb-0">Settings Shift</h2>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'shift' %}" class="btn btn-icon btn-primary get-form"><i class="fa fa-plus"></i> Buat Baru</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th>ID SHIFT</th>
                                <th>JAM MASUK</th>
                                <th>JAM PULANG</th>
                                <th>AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for item in data %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.masuk | date:"H:i"}}</td>
                                <td>{{item.pulang | date:"H:i"}}</td>
                                <td>
                                    <a href="{% url 'shift' item.id %}" class="btn btn-icon get-form"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'shift' item.id %}" class="btn btn-icon del-form"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}