{% load static %}

<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="/static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'vendor/notyf/notyf.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/notify.js' %}"></script>

<script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<script src="{% static 'js/argon.js' %}"></script>

<script type="application/javascript" src="{% static 'js/script.js' %}"></script>